$mainColor: rgb(242, 172, 22);

.match {
  width: 80vw;
  height: 25vh;
  margin: 1.5rem 1rem 0rem 1rem;
  padding: 0.2rem 1rem 0rem 1rem;
  background-color: rgba(242, 172, 22, 0.089);
  border: 1.5px solid rgba(242, 172, 22, 0.217);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__opponent {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    height: 8vh;
    margin: 0.5vh;

    &-profile {
      height: 10vh;
      width: 20vw;

      &-pic {
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-message {
      height: 10vh;
      width: 60vw;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.confirmButton {
  margin-bottom: 2.5vh;
  background-color: $mainColor;
  border-bottom: 3px solid rgba(0, 0, 0, 0.858);
  border-left: 3px solid rgba(0, 0, 0, 0.858);
  border-radius: 4px;
  height: 35px;
  width: 70px;
  font-size: 0.75rem;
  cursor: pointer;
}

.confirmButton:active {
  border: 2px solid rgba(0, 0, 0, 0.59);
}

.acceptedButton {
  margin-bottom: 2.5vh;
  margin-top: 1vh;
  background-color: $mainColor;
  border-bottom: 3px solid rgba(0, 0, 0, 0.858);
  border-left: 3px solid rgba(0, 0, 0, 0.858);
  border-radius: 4px;
  height: 35px;
  width: 70px;
  font-size: 0.75rem;
  cursor: pointer;
}

.acceptedButton:active {
  border: 2px solid rgba(0, 0, 0, 0.59);
}

.buttonCancel {
  margin-bottom: 2.5vh;
  margin-left: 33vw;
  background-color: $mainColor;
  border-bottom: 3px solid rgba(0, 0, 0, 0.858);
  border-left: 3px solid rgba(0, 0, 0, 0.858);
  border-radius: 4px;
  height: 35px;
  width: 70px;
  font-size: 0.75rem;
  cursor: pointer;
}

.buttonCancel:active {
  border: 2px solid rgba(0, 0, 0, 0.59);
}
