$mainColor: rgb(242, 172, 22);

.match {
  height: 25vh;
  margin: 1rem 1rem 2rem 1rem;
  padding: 1rem 1rem 0rem 1rem;
  background-color: rgba(242, 172, 22, 0.089);
  border: 1.5px solid rgba(242, 172, 22, 0.217);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__opponent {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    height: 8vh;
    margin: 0.5vh;

    &-profile {
      height: 10vh;
      width: 20vw;

      &-pic {
        height: 10vh;
        width: 10vh;
        border-radius: 6px;
        object-fit: cover;
      }
    }

    &-message {
      height: 10vh;
      width: 60vw;
      font-weight: 300;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.confirmButton {
  @extend .acceptedButton;
  cursor: pointer;
}

.confirmButton:active {
  background-color: rgba(242, 172, 22, 0.595);
}

.acceptedButton {
  margin-bottom: 2.5vh;
  margin-top: 1vh;
  height: 35px;
  width: 90px;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
  border: 0;
  border-radius: 4px;
  background-color: var(--main-colour);
  cursor: pointer;
}

.acceptedButton:active {
  background-color: rgba(242, 172, 22, 0.595);
}

.buttonCancel {
  @extend .acceptedButton;
  cursor: pointer;
}

.buttonCancel:active {
  background-color: rgba(242, 172, 22, 0.595);
}

.copy-email {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
