:root {
  --main-colour: rgb(242, 172, 22);
  --placeholder-colour: rgb(130, 130, 130);
  --hover-colour: rgba(242, 172, 22, 0.735);
  --box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
