$mainColor: rgb(242, 172, 22);

.button {
  margin-bottom: 2.5vh;
  background-color: $mainColor;
  border: 2px solid rgba(0, 0, 0, 0.59);
  border-radius: 4px;
  height: 35px;
  width: 70px;
  font-size: 0.75rem;
  cursor: pointer;
}

.button--accept {
  background-color: $mainColor;
}

.button--decline {
  background-color: $mainColor;
}

.button--cancel {

  margin-left: 33vw;
}

.button--email {
  margin-top: 1vh;

}

.button--confirmedCancel {
  margin-top: 1vh;

}

.button--review {
  margin-top: 1vh;

}