.button {
  margin-bottom: 2.5vh;
  background-color: white;
  border-radius: 6px;
  height: 35px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}

.button--accept {
  border-color: #a6cb78;
  background-color: #a6cb78;
}

.button--decline {
  border-color: #973535;
  background-color: #973535;
}

.button--cancel {
  border-color: #973535;
  background-color: #973535;
  margin-left: 55vw;
}

.button--email {
  margin-top: 1vh;
  border-color: #78a7cb;
  background-color: #78a7cb;
}

.button--confirmedCancel {
  margin-top: 1vh;
  border-color: #973535;
  background-color: #973535;
}