// *{
//   border: 1px solid red;
// }

.matches {
  margin-top: 38vh;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .header{
    font-size: 2rem;
  }
}