.match {
  width: 60vh;
  height: 15vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f2ac16;
  color: "white";
  display: "flex";
  align-items: "center";
 
  .opponent{
   display: "flex";
   flex-direction: row;
 
  }
 
  .buttons{
   display: "flex";
   flex-direction: row;
   justify-content: space-between;
   height: 15vh;
  }
 }