.profile-photo {
  display: flex;
  flex-direction: column;
  margin: 22vh 10vw;
  margin-top: 10vh;
  margin-bottom: 0;
  align-content: flex-end;

  .information {
    font-size: xx-large;
    margin-top: 10vh;

    h4 {
      margin-bottom: 5vh;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border: 2px solid black;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }

    input {
      margin-bottom: 3vh;
    }

    .continue-button {
      border-radius: 4px;
      border: 0;
      padding: 0.3rem 0.6rem;
      box-shadow: var(--box-shadow);
      letter-spacing: 0.2rem;
      align-self: center;
      border-radius: 4px;
      width: 100%;
      background-color: rgb(242, 172, 22);
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
    }

    .continue-button:active {
      background-color: var(--hover-colour);
    }
  }
}
