.profile-photo {
  display: flex;
  flex-direction: column;
  margin: 22vh 10vw;
  margin-top: 10vh;
  margin-bottom: 0;
  align-content: flex-end;
}

.title1 {
  font-size: xx-large;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.file {
  margin-bottom: 3vh;
}

.continue-button {
  background-color: var(--main-colour);
  border-radius: 6px;
  height: 35px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}
