.bio {
  display: flex;
  flex-direction: column;
  margin: 22vh 10vw;
  margin-top: 10vh;
  margin-bottom: 0;
  align-content: flex-end;
}

.my-bio {
  min-height: 5vh;
  max-height: 20vh;
  line-height: 25px;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(103, 103, 103);

  &::placeholder {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

  &::-webkit-input-placeholder {
    position: absolute;
    bottom: 5px;
  }
}

.word-count {
  margin-bottom: 5vh;
  text-align: end;
  font-size: small;
  font-weight: 200;
}

.finish-button {
  background-color: var(--main-colour);
  border-radius: 6px;
  height: 35px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}
