$mainColor: rgb(242, 172, 22);

.review {
  padding-top: 40vh;

  .review-container {
    background-color: rgba(242, 172, 22, 0.089);
    border: 1.5px solid rgba(242, 172, 22, 0.217);
    border-radius: 10px;
    margin: 1.5rem 1rem 0rem 1rem;
    padding: 1rem 1rem 1rem 1rem;

    .review-header {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      font-weight: 500;
    }
    .review-winner {
      .review-winner-header {
        display: flex;
        justify-content: center;
      }
      .review__button-winner {
        display: flex;
        justify-content: space-evenly;
        .review__button--winner {
          margin-bottom: 2.5vh;
          background-color: $mainColor;
          border-bottom: 3px solid rgba(0, 0, 0, 0.858);
          border-left: 3px solid rgba(0, 0, 0, 0.858);
          border-radius: 4px;
          height: 35px;
          width: 70px;
          font-size: 0.75rem;
          cursor: pointer;
        }

        .review__button--winner-chosen {
          margin-bottom: 2.5vh;
          background-color: $mainColor;
          border: 2px solid rgba(0, 0, 0, 0.59);
          border-radius: 4px;
          height: 35px;
          width: 70px;
          font-size: 0.75rem;
          cursor: pointer;
        }
      }
    }
    .review__sportsmanship {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .finish_review {
      display: flex;
      justify-content: center;

      .review__button--finish {
        border-radius: 4px;
        border: 0;
        padding: 0.3rem 0.6rem;
        box-shadow: var(--box-shadow);
        letter-spacing: 0.2rem;
        align-self: center;
        border-radius: 4px;
        width: 60%;
        background-color: rgb(242, 172, 22);
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        cursor: pointer;
      }

      .review__button--finish:active {
        background-color: var(--hover-colour);
      }
    }
  }
}

.sportsmanship-header {
  margin-bottom: 10px;
  font-weight: 200;
}
