.birth-gender {
  display: flex;
  flex-direction: column;
  margin: 22vh 10vw;
  margin-top: 10vh;
  align-content: flex-end;

  h4 {
    font-size: xx-large;
    margin-top: 10vh;
    margin-bottom: 8vh;
  }

  select {
    height: 30px;
    margin-bottom: 2vh;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(103, 103, 103);
    width: 100%;
    margin-top: 4vh;
    font-size: 15px;
    margin-bottom: 5vh;
    font-weight: 300;
  }

  select:invalid {
    color: var(--placeholder-colour);
  }

  input {
    @extend select;
    margin-bottom: 0;
  }
  .age {
    text-indent: 6px;
  }
}
.continue-button {
  margin-bottom: 2.5vh;
  background-color: var(--main-colour);
  border-radius: 6px;
  height: 35px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}
