$mainColor: rgb(242, 172, 22);

.opponent-list {
  margin: 40vh 0rem 0rem 0rem;

  .description-container {
    //border: 1px solid black;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.094);
    padding: 0.5rem;
    border-radius: 5px;

    p {
      font-size: 0.85rem;
    }

    button {
      align-self: center;
      border: 2px solid rgba(0, 0, 0, 0.59);
      border-radius: 4px;
      background-color: $mainColor;
      padding: 0.1rem 0.6rem;
      font-size: 0.75rem;
      margin-bottom: 0px;
    }
  }

  hr {
    width: 80%;
    background-color: $mainColor;
    margin: 1.2rem auto 0rem auto;
    border: 0.75px solid $mainColor;
  }
}
