$mainColor: rgb(242, 172, 22);

//Component Styling starts here

.opponents-opponents {
  margin-left: 1rem;
  margin-right: 1rem;

  .profile-photo-container-opponents {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;

    .profile-photo-opponents {
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
  }

  .personal-info-123 {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pin-icon-opponents {
      margin-right: 0.25rem;
      color: $mainColor;
    }
  }

  .sportsmanship-text-opponents {
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    font-size: 0.55rem;
  }

  .star-icon-sportsmanship {
    color: $mainColor;
  }

  .bio-opponents {
    margin-top: 1rem;
  }

  .sports-skills-opponents {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .sport-item-list-opponents {
      margin-top: 1rem;
      list-style: none;
    }

    .sport-item-opponents {
      margin-left: 1rem;
    }

    .sports-opponents {
      .sport-title-opponents {
        letter-spacing: 0.2rem;
      }

      .sport-ammount-opponents {
        font-size: 0.55rem;
      }
    }

    .skill-level-opponents {
      padding-left: 20px;
      .skill-title-opponents {
        letter-spacing: 0.2rem;
      }

      .skill-accuracy-opponents {
        font-size: 0.55rem;

        .star-icon-accuracy {
          color: $mainColor;
        }
      }
    }
  }

  .opponent-challenge-button {
    display: none;

    &.active {
      display: flex;
      justify-content: center;
    }

    .opponent-challenge-btn {
      margin: 3rem 0;
      padding: 0.5rem 1.5rem;
      border: 2px solid rgba(0, 0, 0, 0.59);
      border-radius: 4px;
      background-color: $mainColor;
      letter-spacing: 0.2rem;
    }
  }

  .opponent-challenge-sports-btn-container {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .opponent-challenge-title {
      letter-spacing: 0.1rem;
    }

    .opponent-selection-btn {
      display: flex;
      flex-direction: column;
    }
  }
}
