$mainColor: rgb(242, 172, 22);

//Component Styling starts here

.opponents {
  background-color: rgba(242, 172, 22, 0.089);
  border: 1.5px solid rgba(242, 172, 22, 0.217);
  border-radius: 10px;
  margin: 1.5rem 1rem 1rem 1rem;
  padding: 0.2rem 1rem 1rem 1rem;

  .opp-profile-photo-container {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;

    .opp-profile-photo {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      border-radius: 6px;
    }
  }

  .opp-personal-info {
    margin-top: 1.5rem;
    margin-left: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .opp-name-age {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .opp-location {
      font-size: 1.1rem;
      font-weight: 600;
      margin-right: 8px;
    }

    .opp-pin-icon {
      margin-right: 0.25rem;
      color: $mainColor;
    }
  }

  .opp-sportsmanship-rating {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .opp-rating-title {
      font-size: 0.65rem;
      letter-spacing: 0.1rem;
    }

    .opp-rating-stars {
      font-size: 0.9rem;
    }
  }

  .opp-sportsmanship-text {
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    font-size: 0.55rem;
  }

  .opp-star-icon-sportsmanship {
    color: $mainColor;
  }

  .opp-bio {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-weight: 200;
  }

  .opp-sports-skills {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .opp-sport-item-list {
      margin-left: 1.5rem;
      list-style: none;
      font-weight: 200;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-top: 1rem;
      margin-right: 1.7rem;
    }

    .opp-sport-item {
      margin-left: 1rem;
    }

    .opp-sports {
      .opp-sport-title {
        letter-spacing: 0.2rem;
        margin-left: 0.5rem;
        font-weight: 600;
        margin-left: 30px;
      }

      .opp-sport-ammount {
        font-size: 0.55rem;
      }
    }

    .opp-skill-level {
      padding-left: 10px;

      .opp-skill-title {
        letter-spacing: 0.2rem;
        font-weight: 600;
        margin-left: 10px;
      }

      .opp-skill-accuracy {
        font-size: 0.55rem;

        .opp-star-icon-accuracy {
          color: $mainColor;
        }
      }
    }
  }

  .opponent-challenge-button {
    display: none;

    &.active {
      display: flex;
      justify-content: center;
    }

    .opponent-challenge-btn {
      margin-top: 1.5rem;
      padding: 0.25rem 2rem;
      border: 0;
      border-radius: 4px;
      background-color: $mainColor;
      letter-spacing: 0.2rem;
      box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%),
        0 17px 50px 0 rgb(0 0 0 / 19%);
    }

    .opponent-challenge-btn:active {
      background-color: rgba(242, 172, 22, 0.595);
    }
  }

  .opponent-challenge-sports-btn-container {
    display: none;

    &.active {
      margin: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .opponent-challenge-title {
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .opponent-selection-btn {
      display: flex;
      flex-direction: column;

      .sportItemChallenge-button {
        margin-top: 0.5rem;
        padding: 0.25rem 2rem;
        border: 0;
        border-radius: 4px;
        background-color: $mainColor;
        letter-spacing: 0.2rem;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%),
          0 17px 50px 0 rgb(0 0 0 / 19%);
      }

      .sportItemChallenge-button:active {
        background-color: rgba(242, 172, 22, 0.595);
      }
    }
  }
}

.hr1-opponent {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  height: 1px;
  width: 140px;
  background-color: rgb(242, 172, 22);
  border: none;
}

.hr2-opponent {
  margin-right: 0.9rem;
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  height: 1px;
  width: 110px;
  background-color: rgb(242, 172, 22);
  border: none;
}

.sports-item {
  margin: 0.2rem;
}
