$mainColor: rgb(242, 172, 22);

.opp-sportItemChallenge-button {
  padding: 0.3rem 2rem;
  border: 1px solid rgb(242, 172, 22);
  border-radius: 4px;
  background-color: white;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
}

.opp-sportItemChallenge-button:active {
  background-color: rgb(229, 229, 229);
}
