$mainColor: rgb(242, 172, 22);

.opp-sportItemChallenge-button {
  margin-top: 0.5rem;
  padding: 0.25rem 2rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.858);
  border-left: 3px solid rgba(0, 0, 0, 0.858);

  border-radius: 4px;
  background-color: $mainColor;
  letter-spacing: 0.2rem;
}

.opp-sportItemChallenge-button:active {
  border: 2px solid rgba(0, 0, 0, 0.59);
}
