.sports {
  display: flex;
  flex-direction: column;
  margin: 22vh 10vw;
  margin-top: 10vh;
  align-content: flex-end;

  h4 {
    font-size: xx-large;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .sport-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  select {
    height: 30px;
    margin-bottom: 2vh;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(103, 103, 103);
    width: 100%;
    margin-bottom: 2vh;
    font-size: 15px;
    font-weight: 300;
  }

  select:invalid {
    color: var(--placeholder-colour);
  }

  .select-sport {
    margin-right: 5px;
  }
}

.continue {
  border-radius: 4px;
  border: 0;
  padding: 0.3rem 0.6rem;
  box-shadow: var(--box-shadow);
  letter-spacing: 0.2rem;
  align-self: center;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(242, 172, 22);
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.continue:active {
  background-color: var(--hover-colour);
}

.add {
  background-color: var(--main-colour);
  border-radius: 50%;
  height: 35px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  margin: auto;
  width: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

.remove {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 200;
  margin-left: 3vw;
  margin-bottom: 1vh;
  cursor: pointer;
}
